{% extends 'crm/base.html' %}

{% block content %}

    <!--RESET PASSWORD-->
    <div class="container">
        <h2>Восстановление пароля</h2>
        <hr>
        <p>Забыли пароль? Введите e-mail адрес ниже и мы пришлём иструкцию для восстановления на вашу почту</p>
        <form method="post">
            {% csrf_token %}
            <div class="pass_reset_form">{{ password_reset_form }}</div>
            <button class="log_reg_button" type="submit">Отправить</button>
        </form>
    </div>

{% endblock %}